.container
  .row
    .col-md-6.border-right
      %h1.my-2.display-4
        David Anderson
      %h2.h5.font-weight-light.text-muted.subheading{style: 'letter-spacing: 0.75rem;'}
        SOFTWARE ENGINEER
    .col-md-6.pl-md-5
      %p
        Seasoned product minded software engineer with 10 years of experience collaborating with cross functional teams to ship production quality products from start to finish. Offering strong proficiency in Ruby, Ruby on Rails and writing clear, maintainable, and tested code.
  %hr.my-5
  .row
    .col-md-9.pr-md-5.border-right
      %section#experience.resume-section
        .resume-section-content
          //%h2.h5.mb-5.text-uppercase.font-weight-light.text-muted.border-bottom{style: 'letter-spacing: 0.5rem;'}
          %h2.resume-subheading
            Work Experience
          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              %h3.mb-0 Senior Software Engineer
              %ul.list-inline.list-slash.text-muted.mb-0.font-weight-light
                %li.list-inline-item= link_to "GotSoccer", "https://home.gotsoccer.com", target: :_blank
                %li.list-inline-item August 2015 - Present
                %li.list-inline-item Remote
          .mb-5.mt-2
            %p
              Served as the lead developer of a multi-year project to build a robust and scalable web based application to support the work of youth and professional sports organizations around the world.
            %ul
              %li Collaborated with a variety of stakeholders to define and build tools to replace a legacy application used to register players, build teams, schedule leagues and tournaments, and background check coaches and managers. 
              %li 
                Supported the 2 year roll out of the new application to all existing GotSoccer customers, registering xx million new user accounts, processing over $xx 
                million of transactions per month, and scaling the application to over xx thousand requests/minute during weeks of peak traffic.
              %li Hired, onboarded, and mentored team of 6 developers. Provided compassionate technical mentorship through code reviews and one-on-ones to support the growth of teammates.
              %li Ruby, Ruby on Rails, Javascript, Postgresql, Bootstrap, Git, TravisCI, NewRelic, AppSignal

          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              %h3.mb-0 Software Engineer
              %ul.list-inline.list-slash.text-muted.mb-0.font-weight-light
                %li.list-inline-item= link_to "Everclimb", "https://www.everclimb.co", target: :_blank
                %li.list-inline-item January 2012 - August 2015
                %li.list-inline-item Remote
          .mb-5.mt-2
            %p Defined, built, and shipped high quality custom software applications to launch and support a wide variety of small and medium sized businesses.
            %ul
              %li Built backend APIs for the Chevrolet Volt owners’ iPhone and Android mobile app that allowed Chevy Volt owners to register, sign in, view their driving statistics, earn badges, and view their rankings in leaderboards.
              %li Built a scalable, web-based quoting and pricing system for Carstin Kitchen and Bath (https://www.carstinbrands.com), a premier countertop manufacturer. The application transformed the business, replacing Excel tools and systems with custom software tools that delivered a reduction in management costs and costly mistakes while increasing sales.
              %li Built frontend and backend of GoPassage (https://app.gopassage.com/), an online event ticketing company that allows event organizers and venue admins to create events, sell tickets online, and report on event sales. The company handles $1.5 million in transactions/month.
              %li Built frontend and backend of California Corporate Housing (https://app.calcorporatehousing.com), a corporate housing  web application offered to customers to reserve apartments and manage reservations.
              %li Ruby, Ruby on Rails, Javascript, Sinatra, Postgresql, Heroku, Bootstrap, Ionic, Angular, AWS
              
          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              %h3.mb-0 Supply Chain Analyst
              %ul.list-inline.list-slash.text-muted.mb-0.font-weight-light
                %li.list-inline-item= link_to "KickSart International", "https://kickstart.org", target: :_blank
                %li.list-inline-item January 2011 - November 2011
                %li.list-inline-item Nairobi, Kenya
          .mb-5.mt-2 
            %p Directed and led the first ever study of KickStart’s export operations. Project included an investigation into the supply chain and distribution models of irrigation pumps sold to distributors, NGOs, and governments in 27 African countries, the development of a product tracking system, as well as a report on the effectiveness and impact of KickStart’s technologies on the livelihoods of rural, African farmers.

          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              %h3.text-uppercase.mb-0 Account Manager
              %ul.list-inline.list-slash.text-muted.mb-0.font-weight-light
                %li.list-inline-item= link_to "Performics", "https://www.performics.com", target: :_blank
                %li.list-inline-item November 2008 - December 2010
                %li.list-inline-item Chicago, IL
          .mb-5.mt-2
            %p Managed day-to-day paid search marketing campaigns with combined media spend of up to $10MM/year, reporting on program metrics and financials to deliver upon and exceed stated goals for clients including Patagonia, Under Armour, FTD (Florist Transworld Delivery), and Buffalo Wild Wings.

          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              %h3.text-uppercase.mb-0 Peace Corps Volunteer
              %ul.list-inline.list-slash.text-muted.mb-0.font-weight-light
                %li.list-inline-item= link_to "Peace Corps", "https://www.peacecorps.gov", target: :_blank
                %li.list-inline-item May 2006 - July 2008
                %li.list-inline-item Palacaguina, Nicaragua
          %p.mb-5.mt-2
            Taught entrepreneurship, business management course to 320 high school students, and provided consulting services to local businesses to help improve accounting, inventory management, customer service, and marketing.
    .col-md-3.pl-md-5
      %section#contact.resume-section.resume-section-sidebar
        %h3.resume-subheading Contact
        %ul.list-unstyled
          %li
            %i.fa.fa-envelope
            %a.ml-1{:href => "mailto:daveande@gmail.com", target: "blank"} daveande@gmail.com
          %li
            %i.fa.fa-linkedin
            %a.ml-1{:href => "https://linkedin.com/in/daveande", target: "blank"} LinkedIn.com/in/daveande
          %li
            %i.fa.fa-map-marker
            %span.ml-1 Ann Arbor, MI
      %section#education.resume-section.resume-section-sidebar
        %h3.resume-subheading Education
        %h6.mb-3 Bachelor of Science
        %p.m-0
          %small Industrial and Operations Engineering
        %p.mb-3
          %small.text-muted Magna Cum Laude
        %p.m-0 
          %small University of Michigan
        %p.m-0 
          %small.text-muted 2001-2005
      %section#skills.resume-section.resume-section-sidebar
        %h3.resume-subheading Skills
        %ul.list-inline.dev-icons{style: 'font-size: 25px;'}
          %li.list-inline-item
            %i.devicon-ruby-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-rails-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-javascript-plain.colored
          %li.list-inline-item
            %i.devicon-coffeescript-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-jquery-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-git-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-github-original-wordmark.colored
          %li.list-inline-item
            %i.devicon-bitbucket-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-heroku-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-nginx-original.colored
          %li.list-inline-item
            %i.devicon-travis-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-jira-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-amazonwebservices-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-bootstrap-plain-wordmark.colored
          %li.list-inline-item
            %i.devicon-vim-plain.colored
      %section#download.resume-section.resume-section-sidebar
        = link_to "Download PDF", asset_path('daveande-resume.pdf', skip_pipeline: true), class: 'btn btn-block btn-outline-secondary', target: :_blank
