.container
  - @posts.each do |post|
    .row
      .col-md-8.offset-md-2
        %h1.mb-1.h2
          = link_to post.title, post_url(post), class: 'text-body'
        %p.text-muted
          %small
            - published_at = post.published_at || Time.zone.now
            = published_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %Y") 
        %p
          -# find_and_preserve to override haml's desire
          -# to indent
          = find_and_preserve do
            =# post.subtitle 
            = truncate(sanitize(post.body_html, tags: []), length: 400)
        %p.my-0
          = link_to "Keep Reading", post_url(post)
        .border-bottom.my-4

