= set_meta_tag :title, @post.seo_title
= set_meta_tag :description, @post.meta_description
= set_meta_tag :keywords, @post.meta_keywords

.container
  .row
    .col-md-8
      %p.h6.text-muted.mb-2
        - published_at = @post.published_at || Time.zone.now
        = published_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") 
      %h1{class: @post.tags.any? ? 'mb-2' : 'mb-3'}
        = @post.title
      - if @post.tags.any?
        .mb-3
          - @post.tags.each do |tag|
            = link_to tag.name, posts_url(tag: tag.name), class: 'badge badge-tag'
      %p
        -# find_and_preserve to override haml's desire
        -# to indent
        = find_and_preserve do
          = raw(@post.body_html)
      -#.border-top.border-bottom.my-5.p-5
      -#  = render partial: 'layouts/third_party/disqus_thread', locals: { page_id: "post-#{@post.id}" , page_url: "#{post_url(@post)}" }
