!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : default_content(:title)
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : default_content(:description)}"}
    %meta{name: "keywords", content: "#{content_for?(:keywords) ? yield(:keywords) : default_content(:keywords)}"}
    = yield(:meta)
    = csrf_meta_tags
    %link{href: "https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700", rel: "stylesheet"}
    -#%link{href: "https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%7CNoto+Serif:400,400i,700,700i&display=swap", rel: "stylesheet"}
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"}
    %link{rel: "apple-touch-icon", sizes: "180x180", href: "/apple-touch-icon.png"}
    %link{rel: "icon", type: "image/png", sizes: "32x32", href: "/favicon-32x32.png"}
    %link{rel: "icon", type: "image/png", sizes: "16x16", href: "/favicon-16x16.png"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if Rails.env.production? && !request.path.start_with?('/admin/')
      = render "layouts/third_party/google_analytics"
    = yield(:head)
  %body
    .container
      %header.navbar.navbar-expand-lg.navbar-light.border-bottom.mb-5
        %a.navbar-brand.mr-3{:href => root_url} daveande
        -#%button.navbar-toggler{"aria-controls" => "navbarToggler", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarToggler", "data-toggle" => "collapse", :type => "button"}
        -#  %span.navbar-toggler-icon
        -#.collapse.navbar-collapse#navbarToggler
        -#  %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        -#    %li.nav-item
        -#      = link_to "Resume", resume_url, class: 'nav-link'
    %main{:role => "main"}
      = yield(:page_header)
      = render 'layouts/messages'
      = yield
    .container
      %footer.border-top.mt-5.py-5
        .row.justify-content-between
          .col-md
            %ul.list-inline.m-0.text-muted.font-weight-light{style: 'font-size:0.75rem'}
              %li.list-inline-item= "&#169; #{Date.today.year} David Anderson".html_safe
              %li.list-inline-item= link_to "Home", root_url
              %li.list-inline-item= link_to "Resume", resume_url
              %li.list-inline-item= link_to "Deep Cut", "http://daveande.blogspot.com", target: :_blank
              - if current_user && current_user.is_admin
                %li.list-inline-item= link_to "Admin", admin_posts_url
              - if current_user
                %li.list-inline-item= link_to "Logout", destroy_user_session_url, method: :delete
          .col-md.text-md-right
            %ul.list-inline
              %li.list-inline-item
                = link_to "https://linkedin.com/in/daveande", target: :_blank, class: 'text-reset' do
                  %i.fa.fa-linkedin-square
              %li.list-inline-item
                = link_to "https://github.com/daveande", target: :_blank, class: 'text-reset' do
                  %i.fa.fa-github

    #subscribe-modal.modal.fade
    #global-modal.modal.fade

    - if Rails.env.production? && !request.path.start_with?('/admin/')
      = render "layouts/third_party/drip"
